<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light mb-2" *ngIf="(auth.user$) | async">
  <form class="form-inline my-2 mr-lg-2">
    <img [src]="foto" (click)="goReporte()" alt="Datos de usuario" width="40" class="rounded-circle more"
      data-toggle="tooltip" data-placement="bottom" title="Datos de usuario">
  </form>
  <a class="navbar-brand" [routerLink]="['/Home']"> <strong><em> Sindex </em></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a #proyectosLink routerLinkActive="active" class="nav-link more" [routerLink]="['/Chat']"
          *ngIf="auth.canDelete(auth.user$ | async) && super === false">
          Chat</a>
      </li>
      <li class="nav-item" *ngIf="auth.canSuper(auth.user$ | async)">
        <a #proyectosLink routerLinkActive="active" class="nav-link more" [routerLink]="['/proyectos']">
          Diócesis</a>
      </li>
      <li class="nav-item" *ngIf="auth.canEdit(auth.user$ | async)">
        <a #proyectosLink routerLinkActive="active" class="nav-link more" (click)="goSede()">
          Mi Sede</a>
      </li>
      <li class="nav-item" *ngIf="auth.canEdit(auth.user$ | async)">
        <a #proyectosLink routerLinkActive="active" class="nav-link more" (click)="goDocumento()">
          Mis Documentos</a>
      </li>
      <li class="nav-item" *ngIf="auth.canDelete(auth.user$ | async)">
        <a #proyectosLink routerLinkActive="active" class="nav-link more" (click)="goUsuarios()">
          Usuarios</a>
      </li>
      <li class="nav-item" *ngIf="auth.canDelete(auth.user$ | async) && super === false">
        <a #proyectosLink routerLinkActive="active" class="nav-link more" (click)="goTransferencia()">
          Transferir Documentos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" (click)="signOut()" class="btn btn-outline-danger">Cerrar Sesión <i class="fa fa-power-off"
          aria-hidden="true"></i></button>
    </form>
  </div>
</nav>