<div class="breadcrumb d-flex justify-content-between align-items-center">
    <ol class="breadcrumb mb-0 p-0">
      <li class="breadcrumb-item text-primary">
        <a role="button" (click)="goSede()">Sede</a>
      </li>
      <li class="breadcrumb-item text-primary">
        <a role="button" (click)="goDocumentos()">Documentos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Libros</li>
    </ol>
    <button class="btn btn-sm btn-success" *ngIf="sede" >
      <strong>{{documento}} - {{ sede.nombre }}</strong>
    </button>
  </div>
  <div class="container">
    <div id="content" class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <ng-container *ngFor="let libro of page.data | async; trackBy: trackByFn">
        <div class="col">
          <a
            role="button"
            class="shadow card2 text-center"
          >
            <h3>Libro : {{ libro.numLibro }}</h3>
            <hr />
            <button class="btn btn-outline-dark btn-sm m-2" (click)="goRegistrar(libro)"  >Registrar</button>
            <button class="btn btn-outline-secondary btn-sm" (click)="goListado(libro)">Listar</button>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
    <div class="row justify-content-center">
      <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
      ></div>
    </div>
    <div
      *ngIf="page.done | async"
      class="alert alert-primary text-center mt-4"
      role="alert"
    >
      Ya no hay más datos!
      <a role="button" class="more" (click)="onTop()">
        <strong
          >Regresar <i class="fa fa-arrow-up" aria-hidden="true"></i
        ></strong>
      </a>
    </div>
  </div>
  